body, html {
  margin: 0;
  height: 100%;
}

body {
  background: url(https://i.imgur.com/pzDvxIN.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.full .textBody {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-content: space-around;
  flex-flow: column wrap;
  color: white;
}

div.loginBody {
  background: url(https://i.imgur.com/MH4C7z5.png);
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 3;
  /* position: relative; */
  height: 100vh;
}

div.loginBody .full {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-content: space-around;
  flex-flow: column wrap;
  color: white;
}

div.signUpBody {
  background: url(https://i.imgur.com/MH4C7z5.png);
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 3;
  /* position: relative; */
  height: 100vh;
}

div.signUpBody .full {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-content: space-around;
  flex-flow: column wrap;
  color: white;
}


.flowerSVG {
  position: fixed;
  top: 27.5%;
  left: -8%;
  transform: scale(1.15)
}

.calenderSVG {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: scale(1);
  -webkit-animation-name: calender; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
  animation-name: calender;
  animation-duration: 8s;
  animation-iteration-count: infinite;

}

@keyframes calender {
  0%   {left:50%; top:6%;}
  25%  {left:50%; top:4.5%;}
  50%  {left:50%; top:6%;}
  75%  {left:50%; top:4.5%;}
  100% {left:50%; top:6%;}
}



/* Medium screens */
@media all and (max-width: 800px) {
  .full {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    align-items: center;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .full {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

/* .hero::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1, .hero h2 {
  color: white;
}

.hero h1 {
  font-size: 60px;
  padding-top: 140px;
  margin-top: 0;
} */
