.formWrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    /* background-color: white; */
    color: black;
    margin: 5% 0 0 35%;
    padding: 7% 10%;
}

.formBox {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    /* padding: 50%; */
}

.formBelow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;

}

.formInputs {
    margin: 2.5%;
    font-size: 1.5em;
    border-radius: 5px;
    padding: 2%;
}

.formText {
    align-self: flex-start;
    margin: -2.5px 0;
    font-weight: 500;
}

.formButton {
    width: 100%;
    padding: 3% 0;
    background-color: violet;
    border: none;
    transition: 0.4s;
    color: white;
    border-radius: 5px;
    /* border: 1px solid black; */
}

.formButton:hover {
    transition: 0.3s;
    background-color: aqua;
}

.formInputs[type|="password"] {
    /* padding: 5%; */
}

.formInputs[type|="password"] {
    /* padding: 5%; */
}