.formWrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: black;
    width: 40%;
    /* bottom: 40%; */
    position: absolute;
    top: 30%;
    left: 50%;
}

.formBox {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.formInputs,
.firstNameInput,
.lastNameInput {
    margin: 2.5%;
    font-size: 1.5em;
    border-radius: 5px;
    padding: 2%;
    border: 1px solid grey;
}

.formButton {
    width: 100%;
    margin: 2.5%;
    padding: 3% 2%;
    background-color: violet;
    border: none;
    transition: 0.4s;
    color: white;
    border-radius: 5px;
    /* border: 1px solid black; */
}

.formBelow {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    margin: 2.5%;
    width: 100%;
}

.formBelow p {
    margin: 0 2%;
}

/* .formText {
    align-self: flex-start;
    margin: -2.5px 0;
    font-weight: 500;
} */


.formButton:hover {
    transition: 0.3s;
    background-color: aqua;
}